html
  head
    title= "aergo on tap"
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/static/styles/main.css?v=20190114")
    | !{extraHead}
  body
    #content
      #logo
      p Get your free AERGO testnet tokens to use for development and testing of dapps on the AERGO testnet! Enter your account address to register in the queue.
      p
        em Don't have an account yet? 
        a(href="https://docs.aergo.io/en/latest/using-network/accounts.html") Click here to find out how to create a new account.
      if error
        p.error= error
      form(action="/request" method="post")
        input(type="hidden" name="next" value=next)
        .form
          .form-row
            .label="Network"
            .input=networkName
          .form-row
            .label="Your address"
            input.input#address(type="text" name="address" placeholder="Enter account address" value=address)
            .input-check#address-check
          .form-footer
            .g-recaptcha(data-sitekey="6LdCKSQrAAAAAIgKGxcgITFwega04WFpq-wVkn96" data-callback="recaptchaSuccess")
            input.btn#submit(type="submit" value="Request Tokens")
      p The queue currently dispenses #{dripAmount} every #{dripInterval/1000} seconds. The maximum queue size is #{queueSize}.
      p
        | Any questions or problems? Contact the Aergo team at 
        a(href="mailto:tech@aergo.io") tech@aergo.io
        |  or on 
        a(href="https://github.com/aergoio/faucet") Github
        | .
    script(src='https://www.google.com/recaptcha/api.js')
    script(src='https://unpkg.com/@herajs/client@0.3.1/dist/herajs.min.js')
    script(src='/static/script/main.js?v=20190114')
