html
  head
    title= "aergo on tap"
    meta(name="viewport" content="width=device-width")
    link(rel="stylesheet" href="/static/styles/main.css?v=20190114")
    | !{extraHead}
  body
    #content
      #logo
      p Success! We added your account to the queue.
      div
        if hasNext
          a.btn(href=next) Continue
        else
          a.btn(href=aergoscanUrl) View Account on Aergoscan
      p= "Attention! Tokens will be sent in about " + expectedWaitingFormatted + ". It can take a moment for the change to be reflected in Aergoscan."
